<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Site Başlığı{% endblock %}</title>
        <script src="https://cdn.tailwindcss.com"></script>

    {% block head %}{% endblock %}
</head>
<body class="bg-gray-100 text-gray-900">

    {% include "partials/_header.html" %}

    <main class="max-w-7xl mx-auto py-6 px-6">
        {% block content %}
        {% endblock %}
    </main>

    {% include "partials/_footer.html" %}

    {% block scripts %}{% endblock %}
</body>
</html>
